:root {
  --navbar-bg: #1d2b38;
  --navbar-font-color: #e3e5e7;
  --navbar-height: 50; /* px */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

nav {
  background: var(--navbar-bg);
  color: var(--navbar-font-color);
  height: calc(var(--navbar-height) * 1px);
  box-sizing: border-box;
  padding: 10px 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: inherit;
}

.flex-center {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.navbar__links {
  list-style: none;
  padding-left: 0.5rem;
}
