:root {
  --navbar-bg: #1d2b38;
  --navbar-font-color: #e3e5e7;
  --navbar-height: 50; /* px */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.navbar {
  background: var(--navbar-bg);
  color: var(--navbar-font-color);
  height: calc(var(--navbar-height) * 1px);
  box-sizing: border-box;
  padding: 10px 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar__main {
  gap: 0.5rem !important; /* Override .flex-center value */
}

.navbar__main h1 {
  font-weight: normal;
}

.navbar__search {
  position: relative;
}

.navbar__search label {
  position: absolute;
  left: 20px;
  color: rgb(63, 63, 63);
}

.navbar__search input {
  width: 100%;
  max-width: 200px;
  text-indent: 25px;
  padding: 0.25rem;
  margin-left: 0.75rem;
}

.navbar__links {
  list-style: none;
  padding-left: 0.5rem;
}

@media (max-width: 560px) {
  .navbar {
    padding-left: 0.5rem;
    padding-right: 0.75rem;
  }
  .navbar__main h1 {
    display: none;
  }
}

/* Helper classes */

.flex-center {
  display: flex;
  gap: 1rem;
  align-items: center;
}
